<% if @painting.errors.any? %>
  <p style="color:red; font-weight: bold">
    <%= @painting.errors.size %> errors found. 
  </p>
  <ul>
    <% @painting.errors.full_messages.each do |message| %>
      <li style="color:red;"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @painting do |form| %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :artist_name %>
    <%= form.text_field :artist_name %>
  </p>
  <p>
    <%= form.label :country %>
    <%= form.select :country, all_countries, include_blank: true %>
  </p>
  <p>
    <%= form.label "Select at least one of your galleries to add this painting to:" %><br>
    <% unless current_user.galleries.empty? %>
      <span style="margin-left: 40px"><%= form.collection_check_boxes :gallery_ids, current_user.galleries, :id, :name %></span>
    <% else %>
      <p style="margin-left: 40px">You don't have any galleries yet</p>
    <% end %>
  </p>
  <p>
    And/or - Add it to a new gallery. <i>(optional)</i>
  </p>
  <p>
    <%= form.fields_for :gallery_attributes, @painting.galleries.build do |gallery_fields| %>
      <div style="margin-left: 40px">
        <%= gallery_fields.hidden_field :user_id, value: current_user.id %>

        <%= gallery_fields.label "Gallery name" %>
        <%= gallery_fields.text_field :name %>
      </div>
    <% end %>
  </p>

  <%= form.submit %>
<% end %>