<% if @painting.errors.any? %>
  <p style="color:red; font-weight: bold">
    <%= @painting.errors.size %> errors found. 
  </p>
  <ul>
    <% @painting.errors.full_messages.each do |message| %>
      <li style="color:red;"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @painting do |form| %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :artist_name %>
    <%= form.text_field :artist_name %>
  </p>
  <p>
    <%= form.label :country %>
    <%= form.select :country, all_countries, include_blank: true %>
  </p>
  <p>
    <%= form.label "Select at least one of your galleries to add this painting to:" %><br>
    <% unless current_user.galleries.empty? %>
      <%= form.collection_check_boxes :gallery_ids, current_user.galleries, :id, :name %>
    <% else %>
      <p>You don't have any galleries yet</p>
    <% end %>
  </p>

  <%= form.submit %>
<% end %>