<h1>Painting - Show</h1>

<h2>Title: <%= @painting.title %></h2>
<h3>Artist: <%= @painting.artist_name %></h3>
<h3>Country: <%= @painting.country %></h3>

<% if @painting.comments.empty? %>
  <p>No comments listed</p>
<% else %>
  <table>
    <tr>
      <th>Comments</th>
    </tr>
    <% @painting.comments.each do |comment| %>
      <tr>
        <td>
          <%= comment.message %>
        </td>
        <td>
          <%= link_to 'Show', comment_path(comment) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<p><%= link_to 'Add a comment', new_comment_path %></p>
