<h1>New User form</h1>

<%  if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.label "Password confirmation" %>
    <%= form.text_field :passowrd_confirmation %>
  </p>

  <%= form.submit %>
<% end %>