<h1>New User</h1>

<%  if @user.errors.any? %>
  <p style="color:red; font-weight: bold">
    <%= @user.errors.size %> errors found. 
  </p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li style="color:red;"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>

  <%= form.submit %>
<% end %>