<h1>Gallery edit form!</h1>

<%= form_with model: @gallery do |form| %>

  <%= hidden_field :gallery, :user_id, value: current_user.id %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p><br>


  <p>Add pictures from the below list</p>
  
  <p>
    <%= form.collection_check_boxes :painting_ids, Painting.all, :id, :title %>
  </p>

  <%= form.submit %>
<% end %>