<% if @user %>
  <h1><%= @user.name %>'s Galleries</h1>
<% else %>
  <h1>All Galleries</h1>
<% end %>

<table>
  <tr>
    <th>Gallery Name</th>
    <th>Owner</th>
  <tr>
  <% @galleries.each do |gallery| %>
    <tr>
      <td><%= gallery.name %></td>
      <td><%= gallery.user.name %></td>
      <td><%= link_to 'Show', gallery_path(gallery) %>
      <td><%= link_to 'Edit', edit_gallery_path(gallery) if current_user == gallery.user%>
    </tr>
  <% end %>
</table>

<p><%= button_to 'Add a new gallery', new_gallery_path, method: :get %></p>