<h1>New gallery form</h1>

<%= form_with model:@gallery do |form| %>

  <%= hidden_field :gallery, :user_id, value: session[:user_id] %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.collection_check_boxes :painting_ids, Painting.all, :id, :title %>
  </p>

  <%= form.submit %>
<% end %>